<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Camera</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static '/Style/camera.css' %}"/>
</head>
<body class="container">
<div class="d-flex justify-content-evenly">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    <a class="btn btn-primary" href="{% url 'camera_capture_page' %}">Take Photo from Camera</a>
</div>
</body>
<script src="{% static '/Scripts/camera.js' %}"></script>
</html>
