<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Camera</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static '/Style/camera.css' %}"/>
</head>
<body class="container">
<div class="d-flex justify-content-evenly">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
{#    <div id="cameraContainer">#}
{#        <video autoplay="true" id="videoElement" loop muted>#}
{##}
{#        </video>#}
{#        <button type="button"#}
{#                class="btn btn-lg btn-outline-primary" id="shutter">#}
{#            <i class="bi bi-record-circle"></i>#}
{#        </button>#}
{#        <button class="btn btn-primary" id="startVideo">Start Video</button>#}
{#        <button class="btn btn-danger" id="stopVideo">Stop Video</button>#}
{##}
{##}
{#    </div>#}
{#    <div id="imageContainer">#}
{#        <canvas id="canvas">#}
{##}
{#        </canvas>#}
{#        <button id="resetImage" class="btn btn-danger">Reset</button>#}
{#        <button id="uploadImage" class="btn btn-primary">Upload Image</button>#}
{#    </div>#}
</div>
</body>
<script src="{% static '/Scripts/camera.js' %}"></script>
</html>
